In [1]:
from tqdm import tqdm
from copy import deepcopy
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

import implicit as imp

from scipy import sparse

In [2]:
# !pip install fastparquet
# !pip install pyarrow

In [3]:
TIMESPENT_COEF = 1
REACTION_COEF = 10

In [4]:
# train упорядочен хронологически
df = pd.read_parquet('train.parquet.gzip')
df.dtypes

user_id      int32
item_id      int32
timespent     int8
reaction      int8
dtype: object

In [5]:
# в items_meta для каждого item_id его автор и эмбеддинг содержания
items = pd.read_parquet(f'items_meta.parquet.gzip')
items.head(3)

   item_id  source_id                                         embeddings
0        0       7340  [0.10458118, 0.047880154, 0.030944156, -0.0351...
1        1       6284  [0.035625108, -0.039264094, -0.03310334, -0.04...
2        2      12766  [0.08418761, 0.006732465, -0.0037112322, -0.02...

In [6]:
items = items.set_index('item_id')

In [7]:
items['mean_timespent'] = df.groupby('item_id')['timespent'].mean().values

In [8]:
items['mean_reaction'] = df.groupby('item_id')['reaction'].mean().values

In [9]:
items['amount'] = df.groupby('item_id').size()

In [10]:
items['amount'].describe().astype(int)

count    227606
mean        634
std        1959
min           3
25%          68
50%         172
75%         490
max      122986
Name: amount, dtype: int64

In [11]:
np.corrcoef(items['amount'], items['mean_timespent'])

array([[1.       , 0.0991944],
       [0.0991944, 1.       ]])

In [12]:
np.corrcoef(items['amount'], items['mean_reaction'])

array([[ 1.        , -0.06108216],
       [-0.06108216,  1.        ]])

In [13]:
np.corrcoef(items['mean_timespent'], items['mean_reaction'])

array([[1.        , 0.28293847],
       [0.28293847, 1.        ]])

# Pipeline

In [14]:
VAL_SIZE = 0.2

In [15]:
VAL_N = int(len(df) * VAL_SIZE)

In [16]:
val = df[-VAL_N:].copy()

In [17]:
train = df[:-VAL_N]

In [18]:
user_id = 707536

In [19]:
def get_embeddings(items_id):
    X = []
    for emb in items.loc[items_id].embeddings:
        v = np.array(emb)
        X.append(v)
    X = np.array(X)
    return X

In [20]:
from sklearn.cluster import DBSCAN
from sklearn.neighbors import NearestNeighbors

In [21]:
knn = NearestNeighbors(metric='cosine', n_neighbors=3)

In [24]:
X = get_embeddings(items.index)

In [25]:
knn.fit(X)

NearestNeighbors(metric='cosine', n_neighbors=3)

In [26]:
user_id = np.random.choice(df.user_id.values)

In [27]:
user_vecs = get_embeddings(df[df.user_id == user_id].item_id.values)

In [28]:
target_items = df[df.user_id == user_id].item_id.values

In [30]:
len(target_items)

412

In [31]:
# vec = X[0]

In [32]:
dist, neighbors = knn.kneighbors(user_vecs)

In [33]:
neighbors.shape

(412, 3)

In [34]:
len(set(neighbors.flatten())) / len(list(neighbors.flatten()))

0.8932038834951457

In [35]:
len(set(neighbors.flatten()) & set(target_items)) / len(target_items)

1.0

In [38]:
len(set(neighbors.flatten()) & set(target_items)) / len(items)

0.0018101456024885109

In [582]:
class KNNRecommender:
    def __init__(self, top_n=20, n_neighbors=100, n_items_count=300):
        self.top_n = top_n
        self.n_items_count = n_items_count
        self.knn = NearestNeighbors(n_neighbors=n_neighbors)
        
    def fit(self, candidates):
        self.embeddings = get_embeddings(candidates.item_id.values)
        self.knn.fit(self.embeddings)
        self.candidates = candidates
    
    def predict(self, user_id, user_df):
        # get user history
        user_embeddings = get_embeddings(user_df.item_id.values[:self.n_items_count])
        dist, neighbors = self.knn.kneighbors(user_embeddings)

        candidate_item_ids = self.candidates.loc[neighbors.flatten()].item_id.values
        candidates = items.loc[candidate_item_ids]
        candidates['dist'] = dist.flatten()
        
        seen_item_ids = list(set(user_df.item_id.values) & set(candidate_item_ids))
        
        candidates = candidates.drop(seen_item_ids)
        candidates = candidates[~candidates.index.duplicated(keep='first')]
        
        candidates = candidates.sort_values(by='mean_timespent')
        
        return candidates.index.values[-self.top_n:]

In [583]:
test = pd.read_parquet('test.parquet.gzip')
# test = test.set_index('user_id')
test.head(3)

   user_id
0        7
1        8
2        9

In [584]:
candidates = pd.read_parquet(f'fresh_candidates.parquet.gzip')
candidates.head(3)

   item_id
0        0
1        2
2        5

In [447]:
cand_idx_to_item = dict(zip(candidates.index.values, candidates.item_id.values))

In [450]:
cand_item_to_idx = dict(zip(candidates.item_id.values, candidates.index.values))

In [257]:
model = KNNRecommender(top_n=20, n_items_count=300)
model.fit(candidates)

In [279]:
self = KNNRecommender(top_n=20, n_items_count=300)
self.fit(candidates)

In [522]:
knn = NearestNeighbors(metric='cosine')

In [523]:
X = get_embeddings(candidates.index)

In [524]:
all_embeddings = get_embeddings(items.index)

In [525]:
fresh_embeddings = get_embeddings(candidates.index)

In [528]:
knn.fit(fresh_embeddings)

NearestNeighbors(metric='cosine')

In [474]:
# iloc -> numeric
# loc -> item_id

In [530]:
user_df = df[df.user_id == user_id]

In [531]:
user_df = user_df.set_index('item_id')

In [532]:
user_embeddings = get_embeddings(user_df.index)

In [544]:
neig_dist, neig_ind = knn.kneighbors(user_embeddings, n_neighbors=10)

In [545]:
neig_ind.shape

(151, 10)

In [546]:
recs = []
for i in neig_ind.flatten():
    recs.append(cand_idx_to_item[i])

In [547]:
len(recs)

1510

In [548]:
len(set(recs))

1157

In [549]:
history = user_df.index.values

In [550]:
len(history)

151

In [1]:
a = set([1, 2, 3])
b = set([2, 3, 4])

In [3]:
a -= b

In [4]:
a

{1}

In [551]:
match = set(history) & set(recs)

In [552]:
possible_match = set(history) & set(candidates.item_id.values)

In [553]:
len(possible_match)

86

In [580]:
last_n = 2

In [581]:
for n in [25, 30, 50, 70, 100, 200, 300, 500, 1000, 2000, 3000]:
    print(f'n: {n}')
    
    neig_dist, neig_ind = knn.kneighbors(user_embeddings[-last_n:], n_neighbors=n)
    recs = []
    for i in neig_ind.flatten():
        recs.append(cand_idx_to_item[i])
    
    match = set(history[-last_n:]) & set(recs)
    possible_match = set(history[-last_n:]) & set(candidates.item_id.values)
    
    print(f'unique/all: {len(set(recs)) / len(recs)}')
    print(f'match: {len(match)}')
    print(f'possible match: {len(possible_match)}')
    print(f'-'*10)

n: 25
unique/all: 1.0
match: 0
possible match: 1
----------
n: 30
unique/all: 1.0
match: 0
possible match: 1
----------
n: 50
unique/all: 1.0
match: 0
possible match: 1
----------
n: 70
unique/all: 0.9857142857142858
match: 0
possible match: 1
----------
n: 100
unique/all: 0.99
match: 0
possible match: 1
----------
n: 200
unique/all: 0.985
match: 0
possible match: 1
----------
n: 300
unique/all: 0.9866666666666667
match: 0
possible match: 1
----------
n: 500
unique/all: 0.979
match: 0
possible match: 1
----------
n: 1000
unique/all: 0.9635
match: 0
possible match: 1
----------
n: 2000
unique/all: 0.93925
match: 0
possible match: 1
----------
n: 3000
unique/all: 0.9165
match: 0
possible match: 1
----------

In [554]:
len(match)

2

In [482]:
history = user_df.index.values

In [ ]:
set()

In [443]:
candidates[candidates.item_id == c].index.values[0]

87508

In [444]:
candidates_idx_to_item[87508]

199259

In [445]:
candidates_item_to_idx[199259]

87508

In [470]:
fresh_item_id = candidates.item_id.sample(1).values[0]

In [459]:
fresh_idx = []
for c in history:
    i = cand_item_to_idx.get(i, None)
    fresh_idx.append(i)

In [463]:
candidates[candidates.item_id == 139320]

Empty DataFrame
Columns: [item_id]
Index: []

In [461]:
for c in history:
    print(c)

139320
16254
78910
166978
38305
2827
138487
14773
183432
128613
137317
47983
220340
20023
67863
151453
79828
17345
1968
117212
3122
119238
73431
39165
152525
208491
30818
27048
7184
185678
1305
142546
88917
221061
60658
169280
11481
47845
97271
130339
117035
158392
163059
101415
109309
41463
119358
58983
195965
185001
40266
165419
83778
106246
171991
132488
221725
116135
120006
88265
66485
102124
80075
168373
209243
194017
216530
136359
212851
216251
211188
535
19180
216503
70705
216113
192419
206949
177655
185224
45810
172328
55004
149949
3417
169615
141152
106711
218816
50266
123372
42481
187535
111648
40918
110907
203359
63
176931
199978
133269
193264
25701
99637
126051
182179
122434
179325
151999
49107
174934
213798
151406
138925
62075
112623
201758
96645
210224
133599
108672
216071
176644
71004
195403
118423
226389
51819
79790
325
5932
44036
102257
184910
67151
171360
157933
124418
41143
20380
71450
51007
8488
46049
49279
68117
145833
66080
74176
153192
199259

In [460]:
fresh_idx

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
neig_ind[user_df]

In [363]:
item_id = candidates.loc[i].values[0]

In [364]:
item_id

51

In [365]:
items.loc[item_id]

source_id                                                     11485
embeddings        [0.12811263, 0.036777616, 0.022303063, 0.00316...
mean_timespent                                             0.111732
mean_reaction                                             0.0111732
amount                                                          179
Name: 51, dtype: object

In [366]:
items.loc[neig_ind[i]]

,source_id,embeddings,mean_timespent,mean_reaction,amount
item_id,,,,,
20,12210,"[0.03040367, 0.025111973, -0.069858946, -0.009...",0.148936,0.010638,94
50121,12659,"[0.037069675, -0.041974667, -0.04673124, 0.002...",0.492958,0.014085,71
212126,20996,"[0.044716157, -0.0057055512, -0.008015964, -0....",0.611111,0.055556,18
14197,18471,"[0.05832005, 0.0027167068, -0.025937278, 0.008...",0.170213,0.021277,94
140111,9540,"[0.0700784, -0.018452901, -0.04222671, 0.00734...",1.109244,0.030812,357

In [329]:
candidates[candidates.item_id == i]

   item_id
1        2

# check carefully what a fuck is going on with labels

In [280]:
user_df = df[df.user_id == user_id]

In [281]:
user_embeddings = get_embeddings(user_df.item_id.values[:self.n_items_count])

In [282]:
user_embeddings.shape

(151, 312)

In [292]:
self.knn.kneighbors(user_embeddings)

(array([[6.8249696e-01, 7.3914295e-01, 7.4066943e-01, 7.5404269e-01,
         7.6515061e-01],
        [5.2277470e-01, 5.7075566e-01, 5.7368457e-01, 5.7821119e-01,
         5.8842313e-01],
        [5.7249063e-01, 5.7613218e-01, 5.8045805e-01, 5.8817160e-01,
         5.8943647e-01],
        [6.2465531e-01, 6.5118319e-01, 6.6899240e-01, 6.7962229e-01,
         6.9155681e-01],
        [5.1917541e-01, 5.2394187e-01, 5.6831175e-01, 5.7497370e-01,
         5.8280152e-01],
        [5.3060043e-01, 5.5699486e-01, 5.8415443e-01, 6.1538774e-01,
         6.2320060e-01],
        [5.8200574e-01, 5.8470976e-01, 5.8758330e-01, 5.8915806e-01,
         6.0476720e-01],
        [5.4224759e-01, 5.6902158e-01, 5.7022178e-01, 5.9481055e-01,
         5.9512228e-01],
        [4.7959250e-01, 5.4697788e-01, 5.4958856e-01, 5.5396068e-01,
         5.6169659e-01],
        [5.4307508e-01, 5.5502892e-01, 5.6615019e-01, 5.7259989e-01,
         5.7333714e-01],
        [4.7004932e-01, 5.1780087e-01, 5.2244169e-01, 5.3665310e-01,
         5.4083025e-01],
        [6.3839179e-01, 6.4335096e-01, 6.5743178e-01, 6.7152971e-01,
         6.8323666e-01],
        [4.6907961e-01, 5.2126718e-01, 5.4205787e-01, 5.4698205e-01,
         5.5596143e-01],
        [5.3116906e-01, 5.8371383e-01, 5.8566141e-01, 5.9277779e-01,
         6.0400259e-01],
        [5.5720717e-01, 6.3535434e-01, 6.5969247e-01, 6.6775542e-01,
         6.7058128e-01],
        [5.3440154e-01, 6.1452740e-01, 6.1678547e-01, 6.2200493e-01,
         6.2261868e-01],
        [6.5493929e-01, 6.6831374e-01, 6.7047966e-01, 6.7150801e-01,
         6.8694121e-01],
        [5.7136220e-01, 5.8582950e-01, 5.8840746e-01, 5.9426326e-01,
         5.9454614e-01],
        [5.5471289e-01, 5.5863136e-01, 5.6258523e-01, 5.6861085e-01,
         5.8805120e-01],
        [5.7379997e-01, 6.4100194e-01, 6.4858109e-01, 6.6658640e-01,
         6.8011773e-01],
        [4.6979612e-01, 4.9851796e-01, 5.0282031e-01, 5.4596502e-01,
         5.4697919e-01],
        [4.0476114e-01, 5.3347850e-01, 5.5259693e-01, 5.5820811e-01,
         5.5833167e-01],
        [4.6704236e-01, 5.0309998e-01, 5.3434706e-01, 5.5658835e-01,
         5.6269050e-01],
        [5.2854329e-01, 5.5685860e-01, 5.8616394e-01, 6.0088784e-01,
         6.0604221e-01],
        [6.3506931e-01, 6.6350752e-01, 6.6395396e-01, 6.7163223e-01,
         6.7316294e-01],
        [5.0708616e-01, 5.2109718e-01, 5.3161675e-01, 5.5965376e-01,
         5.6752521e-01],
        [5.1025194e-01, 5.4732102e-01, 5.5203933e-01, 5.5980080e-01,
         5.7461154e-01],
        [5.0569761e-01, 5.1913208e-01, 5.2964222e-01, 5.4150480e-01,
         5.4807550e-01],
        [5.9126997e-01, 5.9623319e-01, 5.9692770e-01, 5.9803581e-01,
         6.0009706e-01],
        [6.2300825e-01, 6.8204361e-01, 6.8906325e-01, 7.1778607e-01,
         7.3495859e-01],
        [5.6732363e-01, 5.9582818e-01, 5.9977889e-01, 6.2043607e-01,
         6.2178367e-01],
        [6.2918121e-01, 6.7573053e-01, 6.8223298e-01, 6.8277264e-01,
         6.8984276e-01],
        [6.0162705e-01, 6.1479646e-01, 6.1946106e-01, 6.3622016e-01,
         6.7539126e-01],
        [4.4769573e-01, 5.0126100e-01, 5.3996783e-01, 5.9519500e-01,
         6.0182214e-01],
        [4.9279326e-01, 6.0233617e-01, 6.1930686e-01, 6.2020659e-01,
         6.4752907e-01],
        [5.1853085e-01, 5.2817070e-01, 5.6100816e-01, 5.7776254e-01,
         5.8659762e-01],
        [5.3523439e-01, 5.3738016e-01, 5.8392966e-01, 5.8412468e-01,
         5.9963375e-01],
        [5.6540442e-01, 5.7813233e-01, 5.8274800e-01, 6.0212147e-01,
         6.0337269e-01],
        [4.6435300e-01, 5.7663304e-01, 5.9628582e-01, 5.9881592e-01,
         6.1578661e-01],
        [5.0451487e-01, 5.3262699e-01, 5.4630083e-01, 5.6317717e-01,
         5.6421316e-01],
        [4.6512964e-01, 4.9591511e-01, 5.1456505e-01, 5.1792234e-01,
         5.2786124e-01],
        [5.4975736e-01, 5.7847458e-01, 5.7945806e-01, 5.9397793e-01,
         6.0709709e-01],
        [5.0542974e-01, 5.7143593e-01, 5.7283312e-01, 5.8151335e-01,
         5.8378619e-01],
        [6.6937220e-01, 6.9933945e-01, 7.0234412e-01, 7.0361674e-01,
         7.1205801e-01],
        [4.9953669e-01, 5.5598545e-01, 5.5748940e-01, 5.7395893e-01,
         5.7489049e-01],
        [5.3655767e-01, 5.5713707e-01, 5.9163529e-01, 5.9964663e-01,
         6.0051018e-01],
        [4.8563045e-01, 4.9965116e-01, 5.4659718e-01, 5.6001288e-01,
         5.6531936e-01],
        [4.5490867e-01, 5.2971017e-01, 5.5057198e-01, 5.6423062e-01,
         5.7706910e-01],
        [5.4630542e-01, 5.6415641e-01, 6.0460871e-01, 6.2634480e-01,
         6.3045830e-01],
        [5.4015774e-01, 5.8243275e-01, 6.0121691e-01, 6.1938930e-01,
         6.2811571e-01],
        [6.3858962e-01, 6.3872552e-01, 6.4755106e-01, 6.5538204e-01,
         6.9084132e-01],
        [4.9070796e-01, 5.3196228e-01, 5.3909498e-01, 5.5675620e-01,
         5.8649373e-01],
        [4.6399331e-01, 5.3328443e-01, 5.3907865e-01, 5.4134744e-01,
         5.5684161e-01],
        [4.9951440e-01, 5.3381759e-01, 5.4710734e-01, 5.5396450e-01,
         5.5621123e-01],
        [5.2902502e-01, 5.4499322e-01, 5.5250442e-01, 5.6757295e-01,
         5.7370549e-01],
        [5.1209891e-01, 5.2664208e-01, 5.6970960e-01, 6.0648155e-01,
         6.1044526e-01],
        [5.3179187e-01, 5.3920019e-01, 5.5269194e-01, 5.6483895e-01,
         5.6625849e-01],
        [4.9978799e-01, 5.2746850e-01, 5.3871918e-01, 5.4078203e-01,
         5.4803801e-01],
        [4.7556373e-01, 4.9431071e-01, 5.2661711e-01, 5.3286004e-01,
         5.4915458e-01],
        [5.3696662e-01, 5.3778660e-01, 5.4865903e-01, 6.0667253e-01,
         6.2011141e-01],
        [5.5673891e-01, 6.1485445e-01, 6.6312486e-01, 6.6920364e-01,
         6.7406267e-01],
        [5.8304578e-01, 5.8657712e-01, 6.1085141e-01, 6.3017875e-01,
         6.3122481e-01],
        [5.0592154e-01, 5.4779667e-01, 5.5055976e-01, 5.5697811e-01,
         5.6316370e-01],
        [5.7564229e-01, 6.1899596e-01, 6.4276952e-01, 6.5123397e-01,
         6.5382314e-01],
        [5.5209720e-01, 5.8463323e-01, 6.0587686e-01, 6.1493021e-01,
         6.2477475e-01],
        [5.4417878e-01, 5.5767989e-01, 5.6443053e-01, 5.6766683e-01,
         5.7997590e-01],
        [4.5203885e-01, 4.9988234e-01, 5.0329036e-01, 5.4403579e-01,
         5.5933172e-01],
        [5.5534601e-01, 5.5681509e-01, 5.8141762e-01, 5.8488351e-01,
         6.0482734e-01],
        [5.7539046e-01, 5.7684803e-01, 5.8581531e-01, 5.9072328e-01,
         5.9520555e-01],
        [5.5609995e-01, 6.1363053e-01, 6.3253736e-01, 6.5733498e-01,
         6.7306936e-01],
        [6.6390365e-01, 6.7165333e-01, 7.1023226e-01, 7.2512960e-01,
         7.3272413e-01],
        [2.1073424e-08, 5.5978209e-01, 5.9679139e-01, 5.9987921e-01,
         6.0877740e-01],
        [5.5552983e-01, 5.8962494e-01, 5.8979380e-01, 5.9887141e-01,
         6.0492861e-01],
        [4.9832109e-01, 6.3877368e-01, 6.4795107e-01, 6.8230349e-01,
         6.8402272e-01],
        [5.5212456e-01, 5.5354029e-01, 5.5724442e-01, 5.7426047e-01,
         5.8340627e-01],
        [5.6410152e-01, 5.6426752e-01, 5.7628614e-01, 5.7954377e-01,
         6.4388764e-01],
        [5.6548476e-01, 5.9763074e-01, 5.9819221e-01, 6.1373580e-01,
         6.2333941e-01],
        [5.4960746e-01, 5.9380603e-01, 6.0570931e-01, 6.1083794e-01,
         6.2851429e-01],
        [5.6144530e-01, 6.0115761e-01, 6.4274192e-01, 6.7578763e-01,
         6.7890757e-01],
        [5.7940960e-01, 6.1287040e-01, 6.1736351e-01, 6.4013547e-01,
         6.4152724e-01],
        [6.1999166e-01, 6.6378164e-01, 6.8685418e-01, 6.9261974e-01,
         6.9692481e-01],
        [5.3310573e-01, 6.3108170e-01, 6.3276672e-01, 6.3794851e-01,
         6.4402848e-01],
        [6.0348099e-01, 6.2093329e-01, 6.2305558e-01, 6.2637126e-01,
         6.3104767e-01],
        [7.1393174e-01, 7.2481745e-01, 7.4012214e-01, 7.4514455e-01,
         7.6180989e-01],
        [6.0254675e-01, 6.1178333e-01, 6.1844307e-01, 6.1871737e-01,
         6.3775706e-01],
        [4.9537542e-01, 5.7021666e-01, 5.7750589e-01, 5.8555806e-01,
         6.0070169e-01],
        [4.8918033e-01, 4.9265128e-01, 5.0168276e-01, 5.0735587e-01,
         5.1148403e-01],
        [4.8209399e-01, 5.2661437e-01, 5.6824446e-01, 5.7217997e-01,
         5.7505083e-01],
        [5.7034940e-01, 5.9669083e-01, 6.1454594e-01, 6.2227780e-01,
         6.2889642e-01],
        [5.2857840e-01, 5.7116860e-01, 5.7162303e-01, 5.8176935e-01,
         5.9439856e-01],
        [5.2356869e-01, 5.2737343e-01, 5.3205377e-01, 5.4310727e-01,
         5.4439241e-01],
        [6.2049401e-01, 6.2501395e-01, 6.3407254e-01, 6.3453025e-01,
         6.4097488e-01],
        [6.3569731e-01, 6.5002918e-01, 6.5019447e-01, 6.5613878e-01,
         6.7043453e-01],
        [5.7557935e-01, 5.9116298e-01, 5.9744525e-01, 6.0117960e-01,
         6.0313189e-01],
        [5.2454090e-01, 5.5745345e-01, 5.7255155e-01, 5.8046091e-01,
         5.8689296e-01],
        [5.5843371e-01, 5.6613576e-01, 5.9471291e-01, 6.0289717e-01,
         6.0322350e-01],
        [5.1023704e-01, 6.1083162e-01, 6.2013876e-01, 6.2295371e-01,
         6.6200900e-01],
        [2.9802322e-08, 5.6795120e-01, 5.7905865e-01, 5.9187585e-01,
         5.9296334e-01],
        [4.5058987e-01, 5.1235837e-01, 5.1847607e-01, 5.2291560e-01,
         5.2747267e-01],
        [4.7218448e-01, 4.8491150e-01, 5.2833498e-01, 5.5907196e-01,
         5.6727618e-01],
        [5.3737307e-01, 5.7027918e-01, 5.7594210e-01, 5.9676635e-01,
         5.9749258e-01],
        [5.7305151e-01, 6.0585910e-01, 6.1949795e-01, 6.2725323e-01,
         6.5208882e-01],
        [5.7077414e-01, 6.1463886e-01, 6.2503517e-01, 6.3865423e-01,
         6.4523387e-01],
        [5.4198718e-01, 5.6894106e-01, 5.7218421e-01, 6.1372578e-01,
         6.2212867e-01],
        [5.5892038e-01, 5.7247597e-01, 6.2847298e-01, 6.3132268e-01,
         6.5284920e-01],
        [6.6615337e-01, 6.7003143e-01, 6.8887424e-01, 7.0405930e-01,
         7.0612758e-01],
        [5.2581352e-01, 5.3261513e-01, 5.3374320e-01, 5.3386885e-01,
         5.5088788e-01],
        [5.9991819e-01, 6.3163036e-01, 6.7906451e-01, 7.0280451e-01,
         7.2203010e-01],
        [6.0417324e-01, 6.4671367e-01, 6.4777637e-01, 6.4967823e-01,
         6.6331452e-01],
        [5.2745318e-01, 5.3733212e-01, 5.3912497e-01, 5.4425865e-01,
         5.5197746e-01],
        [6.1231476e-01, 6.4789230e-01, 6.7339939e-01, 7.0436472e-01,
         7.0644969e-01],
        [6.1439347e-01, 6.1910462e-01, 6.2746620e-01, 6.6757369e-01,
         6.7324311e-01],
        [6.0317087e-01, 6.2599725e-01, 6.3122624e-01, 6.4201957e-01,
         6.5309066e-01],
        [6.2256432e-01, 6.5271413e-01, 6.7913026e-01, 6.8702930e-01,
         7.0576257e-01],
        [5.1065558e-01, 6.0186005e-01, 6.0620338e-01, 6.0708612e-01,
         6.1889267e-01],
        [6.1427999e-01, 6.3638240e-01, 6.4130586e-01, 6.4364636e-01,
         6.4485627e-01],
        [5.7565176e-01, 5.9541768e-01, 6.3817787e-01, 6.6660094e-01,
         6.7031991e-01],
        [5.1810414e-01, 5.3070700e-01, 5.3881842e-01, 5.3937745e-01,
         5.6479806e-01],
        [5.7321173e-01, 5.7594848e-01, 5.7745987e-01, 5.7780439e-01,
         5.7853961e-01],
        [4.9439567e-01, 5.4556012e-01, 5.4742926e-01, 5.6046748e-01,
         5.6917930e-01],
        [6.1922979e-01, 6.6081464e-01, 6.6801471e-01, 6.9016171e-01,
         7.0525646e-01],
        [6.3581854e-01, 6.3943052e-01, 6.5854549e-01, 6.9288832e-01,
         6.9436133e-01],
        [6.4583993e-01, 6.5201551e-01, 6.8511230e-01, 6.8830311e-01,
         6.8995690e-01],
        [5.3374904e-01, 5.5348516e-01, 5.7724786e-01, 5.8396053e-01,
         5.8748329e-01],
        [5.7631767e-01, 6.2056923e-01, 6.4714849e-01, 6.5887874e-01,
         6.6877949e-01],
        [5.8661264e-01, 6.0773796e-01, 6.1414564e-01, 6.1435121e-01,
         6.3141322e-01],
        [5.8664298e-01, 6.0118091e-01, 6.0750175e-01, 6.2447721e-01,
         6.2559599e-01],
        [5.2724850e-01, 5.3432161e-01, 5.4586679e-01, 5.4790193e-01,
         5.5404240e-01],
        [5.4010683e-01, 5.4326379e-01, 5.8076060e-01, 5.9552187e-01,
         6.0130465e-01],
        [2.9802322e-08, 5.9798443e-01, 6.1312318e-01, 6.2107211e-01,
         6.3267905e-01],
        [5.9884101e-01, 6.0836953e-01, 6.1110526e-01, 6.1117625e-01,
         6.1357999e-01],
        [5.2704865e-01, 5.5354971e-01, 5.6722915e-01, 5.7662171e-01,
         5.8054268e-01],
        [6.5643972e-01, 6.7527801e-01, 6.8648475e-01, 7.1126890e-01,
         7.1224338e-01],
        [5.2479023e-01, 5.3609461e-01, 5.4810375e-01, 5.6754452e-01,
         5.8078104e-01],
        [5.6885833e-01, 5.7598484e-01, 5.7778883e-01, 5.8231413e-01,
         5.9651464e-01],
        [6.3091630e-01, 6.3220513e-01, 6.3315201e-01, 6.4573973e-01,
         6.4729679e-01],
        [5.9216344e-01, 6.2073356e-01, 6.2953138e-01, 6.7602211e-01,
         6.7687798e-01],
        [5.2010190e-01, 5.3180915e-01, 5.5911678e-01, 5.6405473e-01,
         5.7331979e-01],
        [5.0708753e-01, 5.6811160e-01, 5.9871101e-01, 6.0071152e-01,
         6.0198098e-01],
        [6.3489687e-01, 6.5304339e-01, 6.5510702e-01, 6.5584981e-01,
         6.5989846e-01],
        [5.1156020e-01, 5.4550654e-01, 5.6662446e-01, 5.8839947e-01,
         6.0397696e-01],
        [5.9731728e-01, 5.9975171e-01, 6.2349188e-01, 6.3678944e-01,
         6.4155513e-01],
        [5.7473153e-01, 6.2112892e-01, 6.3148671e-01, 6.5009636e-01,
         6.5090162e-01],
        [6.7198414e-01, 6.7306000e-01, 6.7519915e-01, 6.7536187e-01,
         6.9155651e-01],
        [5.6464463e-01, 5.9246349e-01, 6.6233742e-01, 6.6246903e-01,
         6.6297799e-01],
        [5.9002393e-01, 6.3554096e-01, 6.3596165e-01, 6.7362458e-01,
         6.7744780e-01],
        [4.9512690e-01, 5.0597757e-01, 5.1211512e-01, 5.3322023e-01,
         5.3723764e-01],
        [5.7221252e-01, 5.9888774e-01, 6.2723541e-01, 6.3124293e-01,
         6.4778727e-01],
        [5.9199059e-01, 6.7112237e-01, 6.7832649e-01, 6.8858618e-01,
         6.8948424e-01],
        [5.5257720e-01, 5.5467117e-01, 5.8560443e-01, 5.8859980e-01,
         5.9030050e-01],
        [5.7384640e-01, 5.7987088e-01, 5.8304316e-01, 5.8529282e-01,
         5.8596683e-01]], dtype=float32),
 array([[132,  14,  52, 148,  37],
        [ 32, 240, 135, 111, 156],
        [134, 198, 201, 112,  74],
        [207,  57, 275, 277,  54],
        [ 28, 111, 135, 139,  45],
        [ 45, 260, 296, 239, 134],
        [260, 166, 232,  45, 148],
        [ 28, 139, 111,  96, 195],
        [ 28,  65,  18, 139, 111],
        [111, 139,  28, 195,  96],
        [111,  96, 135,  18, 171],
        [ 56,  80, 110, 178, 134],
        [ 96, 135,  45, 265, 171],
        [ 89, 135,  96, 239, 111],
        [111,  43, 171, 239, 208],
        [239,  28, 135,  45,  89],
        [265,  79, 101, 146, 152],
        [112, 250, 283, 227, 113],
        [135, 134, 139,  32,  28],
        [235, 279, 190, 164, 134],
        [158,  74, 134, 148, 229],
        [ 28,  89,  96, 156, 260],
        [ 89, 262, 135, 139, 156],
        [248, 247, 252, 117, 246],
        [113, 156,  40,  70, 261],
        [135, 265,  96,  89, 111],
        [ 45,  28, 260, 134, 139],
        [134, 208,  65, 110, 201],
        [156,  89,  96,  32,  45],
        [ 33, 223, 104,  85, 124],
        [137,  94,  38, 187, 147],
        [ 96, 111, 139, 265, 171],
        [ 96, 146, 171,  18, 101],
        [ 89, 262, 135, 250, 260],
        [ 33, 104, 124, 223,  85],
        [ 45,  28,  89, 260, 265],
        [260,  28,  89,  45, 139],
        [195,  75, 139, 156,  45],
        [ 28, 156,  96, 239, 139],
        [134, 132, 157, 250, 266],
        [201, 132, 178, 134, 130],
        [111,  18,  28,  65, 240],
        [ 28,  96,  45, 135, 146],
        [ 28, 112, 239, 124, 135],
        [ 96,  28, 234, 111, 156],
        [285, 145, 148,  74, 198],
        [ 89, 135, 260, 261,  61],
        [ 28, 156, 139,  96,  89],
        [ 48, 112,  18,  19, 111],
        [113, 279, 237,  18, 166],
        [156,  28,  75, 124, 213],
        [ 89, 262,  55, 214,  29],
        [164, 165, 197,  73, 254],
        [111, 240, 139, 135, 171],
        [139,  32, 111,  28,  96],
        [ 19, 227, 113, 199,  15],
        [134, 250, 237, 290, 135],
        [148, 116, 263, 134, 132],
        [165,  41,  81, 134, 164],
        [112, 199, 133, 299,  18],
        [124,  28, 141, 213, 104],
        [261, 240,  96,  65, 135],
        [111, 139,  45,  32, 135],
        [ 28, 124,  45,  77, 239],
        [265, 111, 135, 171,  32],
        [139, 156, 195,  28,  45],
        [240, 146,  32,  18, 111],
        [164, 232, 197,  81, 182],
        [240, 146, 135,  32, 111],
        [ 28, 124, 239,  45, 260],
        [135,  33, 262,  79, 261],
        [240,  32, 139,  96, 111],
        [239,  22, 207,  89, 135],
        [240, 146,  32,  19, 111],
        [ 18, 111,  96, 261, 135],
        [ 28, 124, 156, 260, 135],
        [ 96, 111,  28, 171, 260],
        [ 28, 124,  45, 260, 296],
        [124,  28, 213, 258, 239],
        [146, 111,  96, 139,  32],
        [ 79, 156, 265, 139, 101],
        [ 65, 111, 146,  18,  96],
        [135, 262, 178, 134, 260],
        [132, 148, 134,  14, 129],
        [296,  45,  81,  96,  28],
        [ 28,  45,  65, 260, 237],
        [158, 148, 134, 145, 285],
        [ 45, 260,  28, 134, 178],
        [156, 139, 137, 262, 214],
        [262,  32,  61, 111, 157],
        [ 32, 156, 111,  28,  96],
        [134,  28,  45, 201, 195],
        [121, 208, 174,  28, 170],
        [ 28,  89,  45,  65,  96],
        [148, 129,  56, 134, 190],
        [ 28,  96, 240, 135, 237],
        [ 28,  45, 237, 260, 139],
        [ 28, 124,  45, 260, 237],
        [148, 145,  98, 229, 134],
        [240,  32, 111, 146,  96],
        [135,  89,  96,  28, 265],
        [ 28,  45, 239, 260,  96],
        [135,  96, 171, 237, 260],
        [ 72,  45, 217, 120,  41],
        [240,  96, 261, 171,  65],
        [132, 148, 134, 130,  14],
        [ 61, 266, 135, 261, 262],
        [ 28, 124, 213, 156, 121],
        [270,  40, 128, 191, 150],
        [ 18, 240, 134,  89, 241],
        [ 28, 213, 124, 174, 239],
        [171,  96, 111, 156, 265],
        [ 77, 258, 171, 260, 265],
        [219,  58, 292, 278, 212],
        [113, 227, 241,  18,  45],
        [284,  75,  29,  28, 156],
        [119, 239, 207, 146, 140],
        [ 96, 139,  28, 111,  32],
        [135,  28,  89,  96, 260],
        [111,  32,  96, 240, 139],
        [239, 207, 171,  96, 242],
        [197,   4,  99, 123, 156],
        [207, 239,   4,   7, 140],
        [ 96,  45,  61, 135, 261],
        [ 48, 111, 171,  19, 112],
        [139,  18,  32, 135,  28],
        [121, 239, 234, 180,  28],
        [ 28,  96,  89, 240, 139],
        [ 48, 112, 283, 289, 222],
        [146,  96,  32, 240, 111],
        [112, 166, 134, 241, 285],
        [139, 262,  45,  96, 135],
        [132, 148, 134, 261,  61],
        [ 45, 113, 266, 232,  74],
        [266, 113, 134, 227, 262],
        [ 45, 139, 195, 156,  28],
        [171, 111, 146,  32,  96],
        [ 45,  28, 260, 111,  96],
        [ 28,  96, 139, 111, 260],
        [111, 260,  45, 239, 156],
        [ 96, 261, 135, 171, 111],
        [ 45,  61, 165,  96, 205],
        [110, 260, 239,  45, 296],
        [102, 156, 195,  63,  31],
        [ 96, 171, 139, 111, 240],
        [131,  63, 113, 250, 167],
        [ 96,  32, 139, 156, 111],
        [111, 146,  32, 261, 135],
        [240, 146, 293, 241,  19],
        [273, 137,  89, 227, 259],
        [285, 134, 157, 148, 113]]))

In [283]:
dist, neighbors = self.knn.kneighbors(user_embeddings)

In [289]:
neighbors

array([[132,  14,  52, 148,  37],
       [ 32, 240, 135, 111, 156],
       [134, 198, 201, 112,  74],
       [207,  57, 275, 277,  54],
       [ 28, 111, 135, 139,  45],
       [ 45, 260, 296, 239, 134],
       [260, 166, 232,  45, 148],
       [ 28, 139, 111,  96, 195],
       [ 28,  65,  18, 139, 111],
       [111, 139,  28, 195,  96],
       [111,  96, 135,  18, 171],
       [ 56,  80, 110, 178, 134],
       [ 96, 135,  45, 265, 171],
       [ 89, 135,  96, 239, 111],
       [111,  43, 171, 239, 208],
       [239,  28, 135,  45,  89],
       [265,  79, 101, 146, 152],
       [112, 250, 283, 227, 113],
       [135, 134, 139,  32,  28],
       [235, 279, 190, 164, 134],
       [158,  74, 134, 148, 229],
       [ 28,  89,  96, 156, 260],
       [ 89, 262, 135, 139, 156],
       [248, 247, 252, 117, 246],
       [113, 156,  40,  70, 261],
       [135, 265,  96,  89, 111],
       [ 45,  28, 260, 134, 139],
       [134, 208,  65, 110, 201],
       [156,  89,  96,  32,  45],
       [ 33, 223, 104,  85, 124],
       [137,  94,  38, 187, 147],
       [ 96, 111, 139, 265, 171],
       [ 96, 146, 171,  18, 101],
       [ 89, 262, 135, 250, 260],
       [ 33, 104, 124, 223,  85],
       [ 45,  28,  89, 260, 265],
       [260,  28,  89,  45, 139],
       [195,  75, 139, 156,  45],
       [ 28, 156,  96, 239, 139],
       [134, 132, 157, 250, 266],
       [201, 132, 178, 134, 130],
       [111,  18,  28,  65, 240],
       [ 28,  96,  45, 135, 146],
       [ 28, 112, 239, 124, 135],
       [ 96,  28, 234, 111, 156],
       [285, 145, 148,  74, 198],
       [ 89, 135, 260, 261,  61],
       [ 28, 156, 139,  96,  89],
       [ 48, 112,  18,  19, 111],
       [113, 279, 237,  18, 166],
       [156,  28,  75, 124, 213],
       [ 89, 262,  55, 214,  29],
       [164, 165, 197,  73, 254],
       [111, 240, 139, 135, 171],
       [139,  32, 111,  28,  96],
       [ 19, 227, 113, 199,  15],
       [134, 250, 237, 290, 135],
       [148, 116, 263, 134, 132],
       [165,  41,  81, 134, 164],
       [112, 199, 133, 299,  18],
       [124,  28, 141, 213, 104],
       [261, 240,  96,  65, 135],
       [111, 139,  45,  32, 135],
       [ 28, 124,  45,  77, 239],
       [265, 111, 135, 171,  32],
       [139, 156, 195,  28,  45],
       [240, 146,  32,  18, 111],
       [164, 232, 197,  81, 182],
       [240, 146, 135,  32, 111],
       [ 28, 124, 239,  45, 260],
       [135,  33, 262,  79, 261],
       [240,  32, 139,  96, 111],
       [239,  22, 207,  89, 135],
       [240, 146,  32,  19, 111],
       [ 18, 111,  96, 261, 135],
       [ 28, 124, 156, 260, 135],
       [ 96, 111,  28, 171, 260],
       [ 28, 124,  45, 260, 296],
       [124,  28, 213, 258, 239],
       [146, 111,  96, 139,  32],
       [ 79, 156, 265, 139, 101],
       [ 65, 111, 146,  18,  96],
       [135, 262, 178, 134, 260],
       [132, 148, 134,  14, 129],
       [296,  45,  81,  96,  28],
       [ 28,  45,  65, 260, 237],
       [158, 148, 134, 145, 285],
       [ 45, 260,  28, 134, 178],
       [156, 139, 137, 262, 214],
       [262,  32,  61, 111, 157],
       [ 32, 156, 111,  28,  96],
       [134,  28,  45, 201, 195],
       [121, 208, 174,  28, 170],
       [ 28,  89,  45,  65,  96],
       [148, 129,  56, 134, 190],
       [ 28,  96, 240, 135, 237],
       [ 28,  45, 237, 260, 139],
       [ 28, 124,  45, 260, 237],
       [148, 145,  98, 229, 134],
       [240,  32, 111, 146,  96],
       [135,  89,  96,  28, 265],
       [ 28,  45, 239, 260,  96],
       [135,  96, 171, 237, 260],
       [ 72,  45, 217, 120,  41],
       [240,  96, 261, 171,  65],
       [132, 148, 134, 130,  14],
       [ 61, 266, 135, 261, 262],
       [ 28, 124, 213, 156, 121],
       [270,  40, 128, 191, 150],
       [ 18, 240, 134,  89, 241],
       [ 28, 213, 124, 174, 239],
       [171,  96, 111, 156, 265],
       [ 77, 258, 171, 260, 265],
       [219,  58, 292, 278, 212],
       [113, 227, 241,  18,  45],
       [284,  75,  29,  28, 156],
       [119, 239, 207, 146, 140],
       [ 96, 139,  28, 111,  32],
       [135,  28,  89,  96, 260],
       [111,  32,  96, 240, 139],
       [239, 207, 171,  96, 242],
       [197,   4,  99, 123, 156],
       [207, 239,   4,   7, 140],
       [ 96,  45,  61, 135, 261],
       [ 48, 111, 171,  19, 112],
       [139,  18,  32, 135,  28],
       [121, 239, 234, 180,  28],
       [ 28,  96,  89, 240, 139],
       [ 48, 112, 283, 289, 222],
       [146,  96,  32, 240, 111],
       [112, 166, 134, 241, 285],
       [139, 262,  45,  96, 135],
       [132, 148, 134, 261,  61],
       [ 45, 113, 266, 232,  74],
       [266, 113, 134, 227, 262],
       [ 45, 139, 195, 156,  28],
       [171, 111, 146,  32,  96],
       [ 45,  28, 260, 111,  96],
       [ 28,  96, 139, 111, 260],
       [111, 260,  45, 239, 156],
       [ 96, 261, 135, 171, 111],
       [ 45,  61, 165,  96, 205],
       [110, 260, 239,  45, 296],
       [102, 156, 195,  63,  31],
       [ 96, 171, 139, 111, 240],
       [131,  63, 113, 250, 167],
       [ 96,  32, 139, 156, 111],
       [111, 146,  32, 261, 135],
       [240, 146, 293, 241,  19],
       [273, 137,  89, 227, 259],
       [285, 134, 157, 148, 113]])

In [288]:
dist.shape

(151, 5)

In [285]:
neighbors.shape

(151, 5)

In [ ]:
user_embeddings = get_embeddings(user_df.item_id.values[:self.n_items_count])
dist, neighbors = self.knn.kneighbors(user_embeddings)

candidate_item_ids = self.candidates.loc[neighbors.flatten()].item_id.values
candidates = items.loc[candidate_item_ids]
candidates['dist'] = dist.flatten()

seen_item_ids = list(set(user_df.item_id.values) & set(candidate_item_ids))

candidates = candidates.drop(seen_item_ids)
candidates = candidates[~candidates.index.duplicated(keep='first')]

candidates = candidates.sort_values(by='mean_timespent')

In [254]:
pred = model.predict(user_id, user_df)

In [255]:
pred

array([4105,  197, 9021, 1863, 2111, 7032, 1531, 4579, 3827, 7176, 2216,
       3842,  298,  348, 8565,  579, 8360, 3470, 7442, 4748])

In [222]:
predictions = []
for user_id, subdf in tqdm(df.groupby('user_id'), total=len(df.user_id.unique())):
    if user_id in testset:
        pred = model.predict(user_id, subdf)
        predictions.append((user_id, pred))

100%|██████████| 1000183/1000183 [08:21<00:00, 1992.79it/s]

In [223]:
map_test = dict(predictions)

In [227]:
map_test[user_id].values

array([46, 15, 22,  7, 59, 27, 47, 65, 42, 31, 17,  5,  6,  0, 37, 29, 35,
       52, 53,  2])

In [228]:
test_predictions = []
for user_id in test.user_id:
    test_predictions.append(map_test[user_id].values)
test['predictions'] = test_predictions

In [229]:
test.head(3)

   user_id                                        predictions
0        7  [36, 46, 22, 7, 59, 27, 47, 65, 31, 63, 5, 6, ...
1        8  [60, 51, 11, 46, 15, 22, 7, 47, 65, 42, 17, 63...
2        9  [51, 11, 62, 46, 22, 7, 59, 27, 47, 65, 31, 17...

In [231]:
test.tail(3)

        user_id                                        predictions
199997  1000166  [54, 36, 11, 46, 15, 22, 7, 47, 65, 42, 32, 31...
199998  1000168  [46, 22, 7, 59, 47, 65, 42, 31, 17, 63, 5, 6, ...
199999  1000172  [46, 15, 22, 7, 59, 27, 47, 65, 42, 31, 17, 5,...

In [230]:
test.to_parquet('sample_submission_knn.parquet.gzip', compression='gzip', engine='pyarrow')